/* || VARIABLES */
:root {
    --clr-orange: hsl(26, 100%, 55%);
    --clr-pale-orange: hsl(25, 100%, 94%);
    --clr-light-grayish-blue: hsl(223, 64%, 98%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-grayish-blue: hsl(220, 14%, 75%);
    --clr-dark-grayish-blue: hsl(219, 9%, 45%);
    --clr-very-dark-blue: hsl(220, 13%, 13%);
    --clr-black: hsla(0, 0%, 0%, 0.75);

    --ff-main: 'Kumbh Sans', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;

    --bottom-body-padding: 6rem;
}

/* || RESET DEFAULTS */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

img,
svg {
    display: block;
    width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* || STYLES */
img,
svg {
    max-width: 100%;
    width: auto;
    height: auto;
}

body {
    font-family: var(--ff-main);
    line-height: 1.5;
    padding-bottom: var(--bottom-body-padding);
    position: relative;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid hsla(219, 9%, 45%, 0.2);
    padding: 1.5rem 2rem;
}

.side-menu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 3;
    display: flex;
    flex-direction: column;
    height: calc(100% + var(--bottom-body-padding));
    width: 15rem;
    padding: 2rem 2rem;
    gap: 1.5rem;
}

.side-menu__icon-close {
    margin-bottom: 2rem;
    cursor: pointer;
}

.side-menu__link {
    text-decoration: none;
    color: var(--clr-very-dark-blue);
    font-weight: var(--fw-bold);
    font-size: 1.1rem;
    cursor: pointer;
}

.side-menu__link:hover {
    color: var(--clr-orange);
}

.header__menu__link {
    text-decoration: none;
    color: var(--clr-dark-grayish-blue);
}

.header__end {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 1.2rem;
}

.header__end-avatar {
    cursor: pointer;
    height: 1.5rem;
}

.header__end-avatar:hover {
    outline: 2px solid var(--clr-orange);
    border-radius: 50%;
}

.header__end-cart {
    cursor: pointer;
}

.cart-box {
    position: absolute;
    z-index: 1;
    background-color: white;
    width: calc(100% - 2rem);
    margin: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.4);
}

.cart {
    position: relative;
}

.cart-amount-icon {
    background-color: var(--clr-orange);
    position: absolute;
    top: -0.5rem;
    left: 0.5rem;
    font-size: 0.65rem;
    color: white;
    border-radius: 100rem;
    padding: 0 0.5rem;
    font-weight: var(--fw-bold);
}

.cart-box__header {
    padding: 1.5rem;
    border-bottom: 1px solid hsla(220, 14%, 75%, 0.5);
}

.cart-box__header__title {
    font-weight: var(--fw-bold);
}

.cart-box__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cart-box__body__empty {
    color: var(--clr-dark-grayish-blue);
    font-weight: var(--fw-bold);
    padding: 5rem 0;
}

.cart-box-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}

.cart-box-item__text-area {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem
}

.cart-box-item__img {
    height: 3rem;
    border-radius: 0.2rem;
}

.cart-box-item__title {
    font-size: 0.95rem;
    color: var(--clr-dark-grayish-blue);
    width: 100%;
}

.cart-box-item__price {
    color: var(--clr-dark-grayish-blue);
}

.cart-box-item__amount {
    color: var(--clr-dark-grayish-blue);
}

.cart-box-item__total {
    font-weight: var(--fw-bold);
}

.btn-delete-item {
    background-color: white;
    border: none;
    cursor: pointer;
}

.btn-delete-item-img {
    width: auto;
    height: 1.7rem;
    object-fit: contain;
}

.btn-checkout {
    width: 90%;
    padding: 1rem 0;
    margin: 1rem;
    background-color: var(--clr-orange);
    border: none;
    color: white;
    font-family: var(--ff-main);
    font-size: 1rem;
    font-weight: var(--fw-bold);
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.btn-checkout:hover {
    background-color: var(--clr-orange);
    opacity: 0.5;
}

.burger {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-right: 1.2rem;
    cursor: pointer;
}

.burger__line {
    width: 16px;
    height: 3px;
    background-color: var(--clr-very-dark-blue);
    display: block;
    opacity: 0.6;
}

.product__gallery__main-img {
    width: 100%;
    height: 19rem;
    object-fit: cover;
}

.product__gallery {
    position: relative;
}

.product__gallery__arrows-box {
    position: absolute;
    top: 40%;
    left: 0;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.arrow-container {
    background-color: var(--clr-light-grayish-blue);
    border-radius: 50%;
    padding: 0.7rem 0.9rem;
    cursor: pointer;
}

.arrow-container:hover>.arrow {
    filter: invert(57%) sepia(62%) saturate(2551%) hue-rotate(347deg) brightness(101%) contrast(101%);
}

.product__gallery-tumbnails {
    display: none;
}

.product__description {
    padding: 1rem 1.5rem 0;
}

.product__description__company-name {
    color: var(--clr-orange);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
}

.product__description__product-title {
    line-height: 1;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.product__description__product-about {
    color: var(--clr-dark-grayish-blue);
    font-size: 0.95rem;
    margin-bottom: 1rem;
}

.product__description__price {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 1.5rem 0;
}

.product__description__price-new {
    font-weight: bold;
    font-size: 1.9rem;
    margin-right: 1rem;
}

.product__description__price-discount {
    font-size: 1rem;
    font-weight: var(--fw-bold);
    color: var(--clr-orange);
    background-color: var(--clr-pale-orange);
    padding: 0.2rem 0.5rem;
    border-radius: 0.4rem;
}

.product__description__price-old {
    margin-left: auto;
    color: var(--clr-grayish-blue);
    font-weight: var(--fw-bold);
    text-decoration: line-through;
}

.product__description__amount {
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-light-grayish-blue);
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.btn-increase {
    color: var(--clr-orange);
    border: none;
    background-color: var(--clr-light-grayish-blue);
    font-weight: var(--fw-bold);
    font-size: 1.5rem;
    cursor: pointer;
}

.btn-increase:hover {
    color: var(--clr-orange);
    opacity: 0.5;
}

.btn-decrease {
    font-size: 2rem;
}

.product__description__amount-number {
    font-weight: var(--fw-bold);
}

.btn-add_to_cart {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-orange);
    color: var(--clr-white);
    border: none;
    font-weight: var(--fw-bold);
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    font-family: var(--ff-main);
    border-radius: 0.5rem;
    box-shadow: 0 1rem 2rem 0 hsla(26, 100%, 55%, 0.3);
    cursor: pointer;
}

.btn-add_to_cart:hover {
    background-color: var(--clr-orange);
    opacity: 0.5;
}

.btn-add_to_cart__cart-icon {
    margin-right: 1rem;
    height: 1rem;
}

.modal {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + var(--bottom-body-padding));
    z-index: 2;
    opacity: 0.7;
}

/* || UTILITY CLASSES */

/* hide something from screen reader */
/* https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html */
.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: insert(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.hidden {
    display: none;
}

/* || MEDIA */

@media screen and (min-width: 1200px) {
    main {
        position: relative;
    }

    body {
        padding: 0 10rem;
    }

    header {
        margin-bottom: 6rem;
        padding: 0;
    }

    .burger {
        display: none;
    }

    .header__menu {
        display: flex;
        gap: 2rem;
    }

    .header__end-avatar {
        height: 3.5rem;
    }

    .header__menu__link {
        padding: 3rem 0;
    }

    .header__menu__link:hover {
        border-bottom: 4px solid var(--clr-orange);
        padding-bottom: calc(2rem - 4px);
    }

    .header__logo {
        margin-right: 3rem;
    }

    .header__end {
        gap: 2.5rem;
        margin-right: 1rem;
    }

    .arrow-container {
        display: none;
    }

    .product {
        display: grid;
        grid-template-columns: auto 30rem;
        grid-template-rows: 1fr;
        gap: 5rem;
        align-items: center;
    }

    .product__gallery {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        gap: 2rem;
    }

    .product__gallery__main-img {
        width: auto;
        height: auto;
        max-height: 30rem;
        border-radius: 1rem;
        justify-self: center;
        cursor: pointer;
    }

    .product__gallery-tumbnails {
        display: flex;
        justify-content: center;
        gap: 2.5rem;
    }

    .product__gallery-tumbnails__img {
        width: auto;
        max-height: 5.5rem;
        border-radius: 0.5rem;
    }

    .product__gallery-tumbnails__img-wrapper.current-tumbnail {
        outline: 2px solid var(--clr-orange);
        border-radius: 0.5rem;
    }

    .product__gallery-tumbnails__img-wrapper.current-tumbnail>.product__gallery-tumbnails__img {
        opacity: 0.3;
    }

    .product__gallery-tumbnails__img-wrapper {
        cursor: pointer;
    }

    .product__gallery-tumbnails__img-wrapper:hover>.product__gallery-tumbnails__img {
        opacity: 0.5;
    }

    .product__gallery-tumbnails__img-wrapper.current-tumbnail:hover>.product__gallery-tumbnails__img {
        opacity: 0.3;
    }

    .current-tumbnail {
        outline: 5px solid var(--clr-orange);
    }

    .product__description__product-title {
        font-size: 2.6rem;
        margin-bottom: 3rem;
    }

    .product__description__price {
        flex-wrap: wrap;
    }

    .product__description__price-old {
        width: 100%;
    }

    .product__description__purchase-box {
        display: flex;
    }

    .btn-add_to_cart {
        width: 100%;
        height: 3.5rem;
        padding: 0 0;
    }

    .product__description__amount {
        width: 15rem;
        margin-right: 1rem;
    }

    .cart-box {
        position: absolute;
        z-index: 1;
        background-color: white;
        top: 6rem;
        right: 7rem;
        width: 23rem;
        margin: 0.5rem 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.4);
    }

    .modal-gallery {
        z-index: 4;
        position: absolute;
        width: 100%;
        height: 100%;
        margin-top: -5rem;
    }

    .modal-gallery__box {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 1fr;
        width: fit-content;
        margin: 0 auto;
    }

    .modal-gallery__img {
        height: 35rem;
        border-radius: 1rem;
        grid-row: 2 span;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .modal-gallery__close {
        grid-row: 1 span;
        justify-self: end;
        height: 1.5rem;
        margin-bottom: 1.5rem;
        cursor: pointer;
    }

    .modal-tumbnails {
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
    }

    .modal-tumbnails__img {
        height: 5rem;
    }

    .modal-tumbnails__img-wrapper {
        background-color: white;
        border-radius: 0.5rem;
        overflow: hidden;
        background-clip: border-box;
        cursor: pointer;
    }

    .modal-tumbnails__img-wrapper.current-tumbnail {
        border-radius: 0.5rem;
        outline: 2px solid var(--clr-orange);
    }

    .modal-tumbnails__img-wrapper.current-tumbnail>.modal-tumbnails__img {
        opacity: 0.3;
    }

    .modal-tumbnails__img-wrapper:hover>.modal-tumbnails__img {
        opacity: 0.5;
    }

    .modal-tumbnails__img-wrapper.current-tumbnail:hover>.modal-tumbnails__img {
        opacity: 0.3;
    }

    .modal-gallery__close:hover {
        filter: invert(52%) sepia(66%) saturate(2193%) hue-rotate(348deg) brightness(106%) contrast(101%)
    }
}